* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: #121212;
  min-height: 1500px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  background: linear-gradient(to bottom, #121212, transparent);
}

nav .logo {
  width: 120px;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  text-decoration: none;
  margin-left: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 6px 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul li span {
  width: 20px;
  color: yellow;
  height: 4px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #121212, transparent);
  z-index: 1000;
}

section::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

section img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#tittle {
  position: relative;
  z-index: 1;
  font-size: 10rem;
  color: white;
  left: 20px;
  text-transform: uppercase;
}

#sheet {
  z-index: 2;
  opacity: 0.2;
}

#tree {
  top: -400px;
  z-index: 3;
}
