* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background: #121212;
  min-height: 1500px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  background: linear-gradient(to bottom, #121212, transparent);
}

.logo {
  width: 100px;
  height: auto;
  margin-left: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  text-decoration: none;
  margin-left: 20px;
  list-style: none;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 6px 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.nav_item:hover {
  color: #ffd500;
}

.active {
  color: #ffd500;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #121212, transparent);
  z-index: 1000;
}

section::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

section img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#tittle {
  position: absolute;
  z-index: 2;
  font-size: 12rem;
  color: #ffff;
  left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  top: -550px;
  font-family: 'Fjalla One', sans-serif;
  word-wrap: break-word;
  writing-mode: vertical-lr;
  line-height:20px;
  margin-left: 60px
}

#wild {
  position: relative;
  z-index: 1;
  font-size: 4rem;
  color: #ffd500;
  left: 80px;

}

#sheet {
  z-index: 2;
  opacity: 0.2;
}

#tree {
  top: -400px;
  z-index: 3;
}
